body {
  display: grid;
  grid-template-rows: 0.5fr 6fr 0.2fr;
  height: 100vh;
  background-image: url("images/background.svg");
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 2fr;
  margin-left: max(20%, calc(50% - 500px));
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.7);

  width: clamp(10%, 1000px, 60%);
  height: 700px;
  border-radius: 12px;
}

.footer {
  padding: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: black;
}

input[type="text"] {
  width: 400px;
  height: 30px;
  border-radius: 10px 0px 0px 10px;
  border: 2px solid black;
  opacity: 0.6;
}

input[type="text"]:focus {
  outline: none;
  opacity: 1;
}

#showWeatherButton {
  padding: 10px;

  height: 35px;
  border-radius: 0px 10px 10px 0px;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;

  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;

  outline: none;
  overflow: hidden;

  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

#locationInfo {
  font-weight: bold;
  font-size: 30px;
  display: grid;
  column-gap: 20px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 40px);
}

#locationInfo > img {
  padding-left: 50px;
  width: 125px;
  height: 125px;
  grid-column: 1/2;
  grid-row: 1/-1;
}
